@media screen and (max-width:1450px) {

    .home .col.right .text {
        text-align: center;
        z-index: -1;
    }

    .home .col.right {
        padding-right: 100px;
    }
}

@media screen and (max-width:1300px) {

    .home .col.right .text h1 {
        font-size: 60px;
    }

    .home .col.right .text p {
        font-size: 32px;
    }

    .home .col.left img {
        width: 500px;
    }
}

@media screen and (max-width:1200px) {

    .home .col.right .text h1 {
        font-size: 45px;
    }

    .home .col.right .text p {
        font-size: 17px;
    }

    .home .col.left img {
        width: 350px;
    }
}

@media screen and (max-width:1024px) {

    /* NAVBAR START */
    nav .navbar {
        padding: 0 100px;
    }

    /* MAVBAR END */
}

@media screen and (max-width:1000px) {

    /* NAVBAR START */
    nav {
        height: 120px;
    }

    nav .navbar {
        padding: 0;
        z-index: 9999;
        flex-direction: column;
        padding-bottom: 20px;
    }

    nav img {
        width: 150px;
        margin: 10px 0;
    }

    /* NAVBAR END */
}

@media screen and (max-width:910px) {

    /* HOME START */
    .home .col.left img {
        width: 300px;
    }

    .home .col.left {
        padding-left: 100px;
    }

    .home .col.right .text h1 {
        font-size: 35px;
    }

    .home .col.right .text p {
        font-size: 20px;
    }

    /* HOME END */
}

@media screen and (max-width:730px) {

    /* HOME START */
    .home .row {
        flex-direction: column;
    }

    .home .col.left,
    .home .col.right {
        /* border: red solid; */
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .home .col.right {
        padding-bottom: 100px;
    }

    .home .col.left {
        padding-top: 130px;
    }

    /* HOME END */
}

@media screen and (max-width:500px) {

    /* NAVBAR START */
    nav ul button {
        padding: 5px 10px;
        font-size: 10px;
    }

    nav li {
        font-size: 10px;
        margin-left: 20px;
    }

    nav ul li#login {
        border-left: solid #499FA4;
        width: 60px;
    }

    /* NAVBAR END */
}